body {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slideshow-container {
  position: relative;
  display: table;
}

img {
  position: absolute;
  width: 100%;
  display: table-row;
}

.top {
  opacity: 1;
}

.bottom {
  opacity: 0;
}
